# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Dev stuff
alias webapps='cd webapps && ls'
alias cmg='cd webapps/cmg && ls'

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alisas update='sudo softwareupdate -i -a;'
alias brewup='brew update; brew upgrade; brew cleanup;'
alias gemup='sudo gem update --system; sudo gem update; sudo gem cleanup;'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Open a web server
alias server="python -m SimpleHTTPServer"